@import "../../assets/variables";

.products-list {
  width: 100%;
  margin: 0;
  padding: 0;

  &.empty {
    text-align: center;
  }

  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 22px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: $colorPrimary;
    box-shadow: $boxShadow;

    & > .product-details {
      display: flex;
      flex-direction: row;

      > img {
        border-radius: 50%;
        height: 128px;
        width: 128px;
      }

      > div {
        align-self: center;
        padding: 1em;
        color: $colorContrastPrimary;
        font-size: $fontSizeTitle;
      }
    }

  }
}